@import url("fonts.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --white-color: #ffffff;
  --yellow-color: #ffda00;
  --grey-color: #4e4b48;
  --grey-color-light: #edf1f6;
  --black-color: #000000;
  --blue-color: #2071b5;
  --blue-color-dark: #005c63;
  --pink-color: #d1266b;
  --green-color: #3dc07c;
  --green-color-light: #edf9f3;
  --red-color: #f93b18;
  --purple-color: #9b62c3;
  --purple-color-dark: #85254b;
  font-family: "Graphik", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  margin: 0 1rem;
  padding: 0;
  color: var(--black-color);
}

/* Anchors */
a {
  color: var(--black-color);
  text-decoration: none;
}

.link__text {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
}

.link__text::before {
  content: ">";
  margin-right: 0.5rem;
  color: var(--blue-color);
}

p {
  font-size: 20px;
  line-height: 1.6;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.55rem;
  line-height: 1.5;
}

.heading__large {
  font-size: 72px;
  line-height: 1.2;
}

.heading__medium {
  font-weight: 700;
  font-size: 52px;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

.heading__small {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}

.heading__tiny {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}

.strapline {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}

/* Section styling*/
section {
  margin-bottom: 1rem;
}

/* Navigation */
.nav__main {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem;
  width: 85%;
  margin: 0 auto;
  justify-items: center;
}

.nav__main img {
  height: 30px;
}

.nav__main-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav__main i {
  padding-top: 0.3rem;
}

/* Section 1: Video landing */
.landing {
  color: var(--white-color);
  text-align: center;
  margin: 0 auto 7rem auto;
}

.landing__video-wrapper {
  height: 80vh;
  position: relative;
  overflow-y: hidden;
  padding-top: 4rem;
}

/* Landing video section*/
.landing video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
  object-fit: cover;
}

.landing__link {
  font-size: 20px;
  color: var(--white-color);
}

.landing__link::before {
  content: ">";
  margin-right: 0.5rem;
  color: var(--white-color);
}

.landing__logo {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

/* Section 2: Introduction */
.intro {
  width: 50%;
  margin: 0 auto 7rem auto;
  text-align: center;
}

.intro p {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}

.intro__link {
  padding: 9px 48px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 20px;
  border: 2px var(--black-color) solid;
}

.intro__link:hover {
  color: var(--white-color);
  background-color: var(--black-color);
  border: 2px var(--black-color) solid;
}

/* Section 3: Fossil Freedom */
.three__column-grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
  width: 80vw;
}

.three__column-grid-content h2 {
  grid-column: 1 / span 3;
  margin: 2rem auto;
}

.three__column-grid-content p {
  font-size: 18px;
}

.content__card img {
  width: 100%;
  object-fit: cover;
}

.half__background-grey {
  background-color: var(--grey-color-light);
  height: 35vh;
  margin-top: -250px;
}

/* Section 4: Co2 Emissions */
.double__column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 80vw;
  margin: 0 auto;
  padding-top: 4rem;
}

.double__column-grid-item img {
  width: 100%;
}

/* Section 5: news */
.news__grid {
  text-align: center;
}

.news__grid .three__column-grid-content .content__card h3 {
  margin-top: 0;
}

/* Section 6: Careers */
.career {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  width: 80vw;
  margin: 0 auto;
  padding: 4rem 0;
  align-items: center;
}

.career__text {
  grid-column: 1 / span 3;
}

.career__text .heading__medium {
  margin-top: 0;
}

.career__img {
  grid-column: 5 / span 2;
}

.career__img img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}

/* Section 7: See Also */
.half__background-green {
  background-color: var(--green-color-light);
  height: 35vh;
  margin-top: -250px;
}

/* Footer */
footer {
  background-color: var(--grey-color-light);
  margin: 0 auto;
  padding: 4rem 8rem 4rem 8rem;
}

.footer__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
}

.footer__content p {
  font-size: 17px;
  line-height: 1.6;
}

.footer__content ul {
  padding-left: 0;
}

.footer__content ul li {
  margin-bottom: 1rem;
}

.footer__content ul li a {
  color: var(--blue-color);
}

.footer__social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: left;
}

.footer__social li i {
  width: 100px;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
